@page "/index"

<h2><em>Data visualisation</em></h2>
<h3 class="text-center"><em>Coming soon!</em></h3>
<br />

<div class="container-fluid">
    <img src="/icon-512.png" alt="Alternate Text" class="center"/>
</div>

